.search {
    margin-left: 2rem;

    @include breakpoint-down(mobile) {
        width: 50%;
        margin-left: 1rem;
    }

    &-field {
        padding: 1.2rem 1rem;
        border: 0.2rem solid transparent;
        background-color: transparent;
        color: $c-white;
        font-size: 2rem;
        width: 100%;

        border-bottom: 0.2rem inset darken($c-darker, 7%);

        &::placeholder {
            color: darken($c-white, 15%);
        }

        @include breakpoint-down(mobile) {
            font-size: 1.7rem;
        }

        @include breakpoint-down(mobile-small) {
            font-size: 1.5rem;
        }
    }
}
