//Variables
$font-size-base: 1.6rem;
$font-weight-base: 400;
$line-height-base: 1.5;

$ff-inter: 'Inter', Arial, sans-serif;

$ff-raleway: 'Raleway', sans-serif;

$t-duration: 0.4s;

$shell-max-width: 105.4rem;
$shell-large-max-width: 126.8rem;
$shell-gutter: 1.5rem;
$shell-large-gutter-mobile: 3.6rem;

$c-black: #000000;
$c-white: #ffffff;

$c-base: #9ccef4;
$c-darker: #759eda;
$c-darkest: #5879c7;

$c-blue: #000262;

$responsive-ios: 812px;

$breakpoints: (
    mobile-small: 374px,
    mobile-medium: 575px,
    mobile: 767px,
    admin-bar: 782px,
    tablet: 1023px,
    small-desktop: 1199px,
    large-desktop: 1399px,
);
